@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Sorts+Mill+Goudy');

/* 

    font-family: 'Raleway', sans-serif;

    font-family: 'Josefin Slab', serif;

    font-family: 'Sorts Mill Goudy', serif;

*/

.row{
    margin: 0 5%;
    font-family: 'Raleway', sans-serif;
}

/*  MMMMMMMMM Navbar MMMMMMMM */

ul{
    list-style-type: none;
    padding: 0;
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 5%;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.navigation, .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

li{
    padding: 0 25px 0 25px;
}

li a{
    color:black;
    text-decoration: none;
}

li a:hover{
    color:gray;
}


/*  MMMMMMM Section One MMMMMM */

.header{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1.5rem;
    padding: 20px 0;
}

.one{
    border-top: 2px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*  MMMMMMM Section Two MMMMMM */

.two{
    padding-top: 25px;
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    border: 8px double black;
}

.sub-p{
    text-align: center;
    padding: 25px 75px;
    
}

.intro-p{
    font-size: 1.5rem;
}


/*  MMMMMMM Section Three MMMMMM */

.three{
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.florist-blurb{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 45%;
    flex-basis: 40%;
    text-align: center;
    border: 8px double black;
}
















/*  MMMMMMM Footer MMMMMM */
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    
    bottom: 0;
    position:static;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1.2em;
    
    padding: 8px 5px 0 5px;
}

.footer p a{
    color:black;
    text-decoration: none;
}

.footer p a:hover{
    color:gray;
}














@media screen and (min-width: 320px) and (max-width:580px) {
    #page {}
}

@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
    }
    img, .row, body {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .nav, {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    li{
        padding: 0 5px;
    }
    .two, .sub-p{
        padding: 0;
    }
    .florist-blurb{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:640px) {
    .container-fluid {
        width: 100%;
    }
    img, .row, body {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .nav, {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    li{
        padding: 0 5px;
    }
    .two, .sub-p{
        padding: 0;
    }
    .florist-blurb{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:360px) {
    .container-fluid {
        width: 100%;
    }
    img, .row, body {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .nav, {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    li{
        padding: 0 5px;
    }
    .two, .sub-p{
        padding: 0;
    }
    .florist-blurb{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:320px) {
    .container-fluid {
        width: 100%;
    }
    img, .row, body {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    li{
        padding: 0 5px;
    }
    .two, .sub-p{
        padding: 0;
    }
    .florist-blurb{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}



/* li{
        padding: 0 5px;
    }
    .two, .sub-p{
        padding: 0;
    }
    .florist-blurb{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 20px;
    }

*/