@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Sorts+Mill+Goudy");
/* 

    font-family: 'Raleway', sans-serif;

    font-family: 'Josefin Slab', serif;

    font-family: 'Sorts Mill Goudy', serif;

*/
.row {
  margin: 0 5%; }

/*  MMMMMMMMM Navbar MMMMMMMM */
ul {
  list-style-type: none;
  padding: 0; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif; }

.navigation, .social {
  display: flex;
  flex-direction: row; }

li {
  padding: 0 25px 0 25px; }

li a {
  color: black;
  text-decoration: none; }

li a:hover {
  color: gray; }

/*  MMMMMMM Section One MMMMMM */
.header {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5rem;
  padding: 20px 0; }

.one {
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center; }

/*  MMMMMMM Section Two MMMMMM */
.two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  font-family: 'Raleway', sans-serif; }

.sec-two {
  display: flex;
  flex-basis: 30%;
  flex-flow: wrap; }

.about-blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #DED2E6;
  padding: 20px; }

.intro-p {
  font-size: 1.5rem; }

.sub-p {
  font-size: 1.2rem; }

@media screen and (max-width: 959px) {
  .container-fluid {
    width: 100%; }

  img, .row, body {
    width: 100%;
    padding: 0;
    margin: 0; }

  .nav {
    display: flex;
    flex-flow: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

  li {
    padding: 0 5px; }

  .sec-two {
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap; } }
@media screen and (max-width: 640px) {
  .container-fluid {
    width: 100%; }

  img, .row, body {
    width: 100%;
    padding: 0;
    margin: 0; }

  .nav {
    display: flex;
    flex-flow: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

  li {
    padding: 0 5px; }

  .sec-two {
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap; } }
@media screen and (max-width: 360px) {
  .container-fluid {
    width: 100%; }

  img, .row, body {
    width: 100%;
    padding: 0;
    margin: 0; }

  .nav {
    display: flex;
    flex-flow: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

  li {
    padding: 0 5px; }

  .sec-two {
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap; } }
@media screen and (max-width: 320px) {
  .container-fluid {
    width: 100%; }

  img, .row, body {
    width: 100%;
    padding: 0;
    margin: 0; }

  .nav {
    display: flex;
    flex-flow: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

  li {
    padding: 0 5px; }

  .sec-two {
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap; } }

/*# sourceMappingURL=styles.css.map */
